@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.overlay::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

@layer components {
  .wrapper {
    @apply max-w-[1250px] mx-auto px-5
  }

  .icon {
    @apply h-5 w-5 text-gray-700
  }

  .icon-large {
    @apply h-6 w-6
  }

  .image {
    @apply object-cover block
  }

  .text-muted {
    @apply text-gray-600
  }

  .text-muted-x {
    @apply text-gray-500
  }

  .sub-heading {
    @apply text-muted text-xl font-semibold tracking-wide
  }

  .highlight {
    @apply text-blue-500
  }
}
